/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;

*/

/* REUSEABLE COMPONENETS */

:root {
  --white-bg-color: #fafafa;
  --black-main-color: #000000;
  --footer-color: #a9a9a9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--white-bg-color);
  font-family: "Poppins", sans-serif;
  color: var(--black-main-color);
  line-height: 1;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 7rem 1.2rem;
  justify-items: center;
}

/* HEADING SECTION */

.heading-section {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3.8rem;
}

.heading-title {
  font-family: "PT Serif", serif;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.6rem;
}

.content-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.7rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.content-para {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  width: 33rem;
  margin-bottom: 6.4rem;
}

/* TEAM SECTION */

.team-section {
  max-width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 28rem);
  column-gap: 2.6rem;
  align-items: start;
  margin-bottom: 13.4rem;
}

.card {
  position: relative;
}

.team-img {
  width: 13.8rem;
  height: auto;
  margin-bottom: 1rem;
}

.team-job {
  display: inline-block;
  position: absolute;
  top: 60px;
  left: 82px;
  transform: rotate(90deg);

  font-family: "PT Serif", serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
  text-transform: uppercase;
  width: 13rem;
}

.team-name {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.1rem;
}

.card-end {
  align-self: end;
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 2.4rem;

  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7rem;
  color: var(--footer-color);
}

.footer-name {
  font-weight: 700;
  text-decoration: underline;
}

.footer a {
  color: var(--footer-color);
  cursor: pointer;
}
/* 720 PX */
@media (min-width: 45em) {
  .content-para {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }

  .team-section {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 28rem);
    column-gap: 3.2rem;
    row-gap: 3.2rem;
  }
  .team-img {
    margin-bottom: 1.5rem;
  }

  .team-job {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .team-name {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }

  .card-adjust-start {
    align-self: start;
  }

  .card-adjust-end {
    align-self: end;
  }
}

/* 920px */
@media (min-width: 58em) {
  .heading-section {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  .team-section {
    grid-template-rows: repeat(2, 46.2rem);
    column-gap: 6.7rem;
    margin-bottom: 11.5rem;
  }

  .team-img {
    width: 23.8rem;
    height: auto;
  }
  .team-job {
    top: 60px;
    left: 190px;
  }
}

/* 1120px */
@media (min-width: 70em) {
  .heading-section {
    column-gap: 21.5rem;
  }
}
