/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

font-family: 'Heebo', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;

*/

/* REUSABLE CSS */

:root {
  /* BACKGROUND COLOR */
  --white-bg-color: #ffffff;
  --grey-bg-color: #e0e0e0;
  --green-bg-color: #27ae60;
  --red-bg-color: #eb5757;
  --black-bg-color: #100e1d;

  /* TEXT COLOR */
  --grey1-text-color: #333333;
  --grey2-text-color: #4f4f4f;
  --grey3-text-color: #828282;
  --grey4-text-color: #f2f2f2;
  --grey5-text-color: #bdbdbd;
  --black-text-color: #000000;
  --blue-text-color: #2d9cdb;

  /* FOOTER COLOR */
  --footer-color: #a9a9a9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--white-bg-color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--grey2-text-color);
  overflow-x: hidden;
}

.material-icons.menu {
  font-size: 2.8rem;
  color: var(--black-text-color);
}

.material-icons.services {
  font-size: 2.8rem;
  color: var(--white-bg-color);
}

/* HEADING SECTION */

.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.8rem;
  margin-bottom: 3.2rem;
}

.heading-title {
  font-family: "Heebo", sans-serif;
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 3.6rem;
  color: var(--grey1-text-color);
}

/* MAIN SECTION */

.main-container {
  padding: 0 1.8rem;
}

/* HERO SECTION */

.hero-container {
  display: grid;
  grid-template-columns: 4rem 1fr;
  margin-bottom: 10rem;
}

.hero-subheading {
  grid-row: 1;
  grid-column: 2;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--blue-text-color);
}

.hero-heading {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.6rem;
  color: var(--grey1-text-color);
}

.hero-heading--primary {
  grid-row: 2;
  grid-column: 2;
  margin-bottom: 1.6rem;
  max-width: 27.2rem;
}

.hero-img {
  grid-row: 3;
  height: 14.6rem;
  width: 34.8rem;
  border-radius: 1.8rem;
  margin-bottom: 2.4rem;
}

.hero-heading--secondary {
  grid-row: 4;
  grid-column: 2;
  max-width: 22.8rem;
  margin-bottom: 3.2rem;
}

.hero-para {
  grid-row: 5;
  grid-column: 2;
  width: 27.6rem;
  margin-bottom: 3.2rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: var(--grey2-text-color);
}

.hero-form {
  grid-row: 6;
  grid-column: 2;
}

.hero-label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6rem;
  margin-bottom: 0.6rem;
  color: var(--grey3-text-color);
}

.input-container {
  position: relative;
}

.input-container > input[type="email"] {
  width: 95%;
  background-color: var(--grey4-text-color);
  outline: none;
  border: none;
  border-radius: 1.2rem;
  padding: 1.6rem 2rem;
}

::placeholder {
  color: var(--grey5-text-color);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.2rem;
}

.input-container > input[type="submit"] {
  position: absolute;
  top: 4px;
  right: 20px;
  border: none;
  border-radius: 1.2rem;
  background-color: var(--blue-text-color);
  color: var(--grey4-text-color);
  padding: 1.2rem 2.2rem;
}

/* SERVICES SECTION */

.services-container {
  display: grid;
  grid-template-columns: 4rem 1fr;
  margin-bottom: 14.6rem;
}

.services-heading {
  grid-row: 1;
  grid-column: 2;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.6rem;
  width: 26rem;
  margin-bottom: 9.2rem;
  color: var(--grey1-text-color);
}

.services-card {
  padding: 4.8rem 3.4rem;
}

.icon-box {
  display: inline-block;
  padding: 1.8rem;
  border-radius: 1.6rem;
  margin-bottom: 3.6rem;
}

.services-card--1 {
  grid-row: 2;
  grid-column: 1 / -1;
}

.services-card--2 {
  grid-row: 3;
  grid-column: 1 / -1;
}

.services-card--3 {
  grid-row: 4;
  grid-column: 1 / -1;
}

.icon-box--1 {
  background-color: var(--blue-text-color);
}

.icon-box--2 {
  background-color: var(--green-bg-color);
}

.icon-box--3 {
  background-color: var(--red-bg-color);
}

.card-heading {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.6rem;
  color: var(--grey1-text-color);
  margin-bottom: 2.4rem;
}

.card-para {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 3rem;
}

.card-btn {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  background-color: var(--grey-bg-color);
  color: var(--grey3-text-color);
  padding: 1rem 1.2rem;
  border: none;
  border-radius: 1.2rem;
}

.services-card--active {
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
}

.services-card--active > button {
  background-color: var(--blue-text-color);
  color: var(--white-bg-color);
}

/* GALLERY SECTION */
.gallery-container {
  display: grid;
  grid-template-columns: 4rem 1fr;
  margin-bottom: 10rem;
}

.gallery-heading {
  grid-row: 1;
  grid-column: 2;

  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.6rem;

  margin-bottom: 4.8rem;
}

.gallery-card--1 {
  grid-row: 2;
  grid-column: 1 / -1;
  margin-bottom: 3.6rem;
}

.gallery-card--2 {
  grid-row: 3;
  grid-column: 1 / -1;
  margin-bottom: 3.6rem;
}

.gallery-card--3 {
  grid-row: 4;
  grid-column: 1 / -1;
  margin-bottom: 3.6rem;
}

.gallery-card--4 {
  grid-row: 5;
  grid-column: 1 / -1;
  margin-bottom: 3.6rem;
}

.gallery-img {
  width: 35.1rem;
  height: auto;
  border-radius: 1.2rem;
  margin-bottom: 1.2rem;
}

.gallery-title {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.8rem;

  color: var(--grey3-text-color);
}

.gallery-subtitle {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8rem;

  color: var(--grey1-text-color);
}

.gallery-seemore {
  grid-row: 6;
  grid-column: 1 / -1;

  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8rem;

  color: var(--blue-text-color);

  text-decoration: none;
}

/* TEAM SECTION */

.team-container {
  display: grid;
  grid-template-columns: 1fr;
}

.team-subheading {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.8rem;

  color: var(--red-bg-color);
}

.team-heading {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 5.4rem;

  color: var(--grey1-text-color);

  max-width: 28rem;
  margin-bottom: 1.4rem;
}

.team-para {
  font-size: 1.6rem;
  line-height: 2.4rem;

  max-width: 27.4rem;
}
