/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

font-family: 'Montserrat', sans-serif;

*/

:root {
  /* BACKGROUND COLOR */
  --white-bg-color: #ffffff;
  --grey1-bg-color: #f2f2f2;
  --grey2-bg-color: #e0e0e0;

  /* TEXT COLOR */
  --grey1-text-color: #4e5150;
  --grey2-text-color: #333333;
  --grey3-text-color: #828282;
  --grey4-text-color: #4f4f4f;
  --orange1-text-color: #f2994a;

  /* FOOTER COLOR */
  --footer-color: #a9a9a9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--white-bg-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: var(--grey-main-color);
  line-height: 1;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

ion-icon {
  font-size: 1.1rem;
  color: #828282;
}

body::-webkit-scrollbar {
  display: none;
}

::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: var(--grey3-text-color);
}
.mb-sm {
  margin-bottom: 2rem !important;
}
.mb-md {
  margin-bottom: 8.7rem !important;
}

.mr-xs {
  margin-right: 0.7rem !important;
}

.mr-sm {
  margin-right: 2.3rem !important;
}

.m-0 {
  margin: 0 !important;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 3.2rem 1.8rem;
}

/* HEADER SECTION */

.heading-title {
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: var(--grey1-text-color);
  margin-bottom: 2.1rem;
}

/* CONTENT SECTION */

.content-section {
  display: grid;
  grid-template-columns: 1fr;
}

/* ORDER SUMMARY CONTAINER */

.order-summary-container {
  max-width: 35rem;
  display: grid;
  grid-template-columns: 1fr;
  padding: 3rem 2.6rem 1.3rem 2.6rem;
  background-color: var(--grey1-bg-color);
  border-radius: 12px;
  margin-bottom: 3.9rem;
}

.order-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.8rem;
  margin-bottom: 2.9rem;
}

.product-img {
  width: 12rem;
  height: auto;
  border-radius: 13px;
}

.product-details-box {
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: var(--grey1-text-color);
  margin-bottom: 1rem;
}

.product-price {
  margin-bottom: 3rem;
}

.product-disc-price {
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--orange1-text-color);
  margin-right: 1.5rem;
}

.product-ori-price {
  font-size: 1rem;
  line-height: 1.2rem;
  color: var(--grey1-text-color);
  text-decoration: line-through;
}

.product-quantity-box {
  display: flex;
  border-radius: 12px;
  border: 1px solid var(--grey3-text-color);
  padding: 1.6rem 1rem;
  justify-content: space-between;
}

.btn-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  background-color: var(--grey2-bg-color);
  width: 2rem;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-quantity:hover {
  background-color: #b3b3b3;
}

.btn-quantity:hover > ion-icon {
  color: var(--white-bg-color);
}

.product-quantity {
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--grey2-text-color);
}

.shipping-box,
.total-box {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #bdbdbd;
}

.shipping-box span,
.total-box span {
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--grey2-text-color);
  padding: 1rem 0;
}

/* USER INFO SECTION */

.user-info-section {
  display: grid;
  grid-template-columns: 1fr;
}

.info-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 4.5rem;
}

.input-title {
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--grey2-text-color);
  margin-bottom: 1.1rem;
}

.input-label {
  font-size: 1rem;
  line-height: 1.2rem;
  color: var(--grey4-text-color);
  margin-bottom: 0.5rem;
}

.input-box {
  position: relative;
}

.input-icon {
  position: absolute;
  font-size: 24px;
  top: 25px;
  left: 10px;
}

.input-field {
  width: 100%;
  padding: 1.2rem 3.9rem;
  text-align: left;
  border-radius: 12px;
  border: 1px solid var(--grey3-text-color);
  outline: none;
  margin-bottom: 1.6rem;
}

.input-box-flex {
  display: flex;
  justify-content: space-between;
}

.radio-box {
  display: flex;
  align-items: center;
}

.continue-btn {
  justify-self: end;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding: 1.7rem 4.5rem;
  border-radius: 12px;
  border: none;
  background-color: var(--orange1-text-color);
  color: var(--white-bg-color);
  text-decoration: none;
  width: 16rem;
  transition: all 0.3s;
}

.continue-btn:hover {
  background-color: #da8a43;
}
/* FOOTER SECTION */
.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 2.4rem;

  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7rem;
  color: var(--footer-color);
}

.footer-name {
  font-weight: 700;
  text-decoration: underline;
}

.footer a {
  color: var(--footer-color);
  cursor: pointer;
}
